<div class="ui-g ui-fluid">
    <div class="center">
        <p-card>
            <span class="charities-logo"></span>
        </p-card>
    </div>
    <br>
    <div class="ui-g-12 center-screen">
        <label *ngIf="!xrpcharities.isProcessing" class="xrpraised" type="text">{{xrpcharities.overallReceived}} XRP raised by <a style="color: #E64A19" href="https://twitter.com/xrpcharities">@xrpcharities</a></label>
        <p-progressSpinner *ngIf="xrpcharities.isProcessing" [style]="{width: '70px', height: '70px'}"></p-progressSpinner>
    </div>
    <div class="ui-g-12 center-screen">
        <p-toggleButton [(ngModel)]="toogleChecked" (onChange)="toogleBalanceUpdate()" onLabel="Auto-Update Balances On" offLabel="Auto-Update Balances Off" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'250px'}"></p-toggleButton>
    </div>
    <div class="ui-g-12 center">
        <p-table [value]="charities" class="center-screen">
            <ng-template pTemplate="header">
                <tr>
                    <th>Twitter</th>
                    <th>XRPTipBot Public</th>
                    <th>Current Balance</th>
                    <th>Total Received</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-charities>
                <tr>
                    <td><a style="color:blue;" href="https://twitter.com/{{charities['handle']}}">@{{charities['handle']}}</a></td>
                    <td><a style="color:blue;" href="https://www.xrptipbot.com/u:{{charities['handle']}}/n:twitter">xrptipbot.com/{{charities['handle']}}</a></td>
                    <td *ngIf="!charities['isProcessing']">{{charities['balance']}} XRP</td>
                    <td *ngIf="charities['isProcessing']"><p-progressSpinner [style]="{width: '20px', height: '20px'}"></p-progressSpinner></td>
                    <td *ngIf="!charities['isProcessing']">{{charities['overallReceived']}} XRP</td>
                    <td *ngIf="charities['isProcessing']"><p-progressSpinner [style]="{width: '20px', height: '20px'}"></p-progressSpinner></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td>Total (excluding @xrpcharities)</td>
                    <td></td>
                    <td>{{allCharitiesBalance}} XRP</td>
                    <td>{{allCharitiesReceived}} XRP</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
