<div class="ui-g">
    <div class="ui-g-12">
        <p-card>
            <div class="floatleft footertext">
                <a class="footerlink" [routerLink]="['/aboutus']">About</a>
                <a class="footerlink" target="_blank" href="https://xrptipbot-stats.com/terms">Terms and Conditions</a>
                <a class="footerlink" target="_blank" href="https://xrptipbot-stats.com/privacy">Privacy Policy</a>
            </div>
            <div class="tipbotfooter">
                <a amount="0.5" size="275" to="GoodXrp" network="twitter" href="https://www.xrptipbot.com" label="Send @GoodXrp" labelpt="Thank you!" target="_blank"></a>
            </div>
            <div class="floatright footertext footertext-right">
                <span>All Rights Reserved</span>
            </div>
            <div style="clear: both;"></div>
        </p-card>
    </div>
</div>
